version: '3.8'
services:
  db:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Aa12345678!
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data 
    restart: always

volumes:
  pgdata: 
